<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <%= stylesheet_link_tag 'header',media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'analytics',media: 'all', data: { turbolinks: false } %>
</head>
    <body>
        <%= render 'layouts/header', analytics_data: @analytics_data %>

        <h1>Search analytics</h1>

        <% if @analytics_data[:query_counts].present? && 
            @analytics_data[:most_searched_term].present? && 
            @analytics_data[:total_searches].present? &&
            @analytics_data[:average_searches_per_day].present? &&
            @analytics_data[:average_searches_per_user].present?
        %>
        <table>
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Top 5 Searches</td>
                    <td>
                        <ul>
                            <% @analytics_data[:query_counts].each do |query, count| %>
                                <p><%= "#{query}: #{count}" %></p>
                            <% end %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Most Searched Term</td>
                    <td>
                        <%= @analytics_data[:most_searched_term] %>
                    </td>
                </tr>
                <tr>
                    <td>Total Searches</td>
                    <td>
                        <%= @analytics_data[:total_searches] %>
                    </td>
                </tr>
                <tr>
                    <td>Average Searches per Day</td>
                    <td>
                        <%= @analytics_data[:average_searches_per_day] %>
                    </td>
                </tr>
                <tr>
                    <td>Average Searches per user</td>
                    <td>
                        <%= @analytics_data[:average_searches_per_user] %>
                    </td>
                </tr>
            </tbody>
        </table>
        <% else %>
            <p>We have just started, search more to see analytics!</p>
        <% end %>
    </body>