<p style="color: green"><%= notice %></p>

<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <%= stylesheet_link_tag 'article_search',media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'header',media: 'all', data: { turbolinks: false } %>

    <% content_for :javascript do %>
      <%= javascript_include_tag 'articles/article_search' %>
    <% end %>
</head>
    <body>
        <%= render 'layouts/header', analytics_data: nil %>
        
        <div class="container">
            <div class="search-container">
                <div class="search-wrapper">
                    <div class="input-search">
                        <input type="search" id="search-input" class="search-box" placeholder="Type to search..."/>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <br/>
                <br/>
                <div id="spinner" class="spinner"></div>
            </div>
            <ul class="pills">
                <div id="search-results" class="search-results"></div> 
            </ul>
        </div>
    </body>